.player {
  @apply 
    sticky
    bottom-0
    w-full
    z-40
    overflow-hidden
    transition-all
    duration-500
    ease-out;
}

.player_main {
  @apply
    w-full
    flex
    flex-row-reverse
    items-center
    gap-[10px]
    md:gap-[18px]
    pr-[20px]
    md:pr-[36px]
    h-20
    md:h-24
    bg-white;
}

.player_top {
  @apply
    flex
    flex-row-reverse
    pr-[10px];
  button {
    @apply
      bg-white;
  }
}

.slide_out {
  @apply 
    translate-y-[100%]
    h-0
    transition-all
    duration-500
    ease-out;
}

.waveform {
  @apply
    flex-1
    flex-col
    overflow-hidden;

  .title {
    @apply
      w-full
      max-w-full
      text-nowrap;
  }

  .scroll {
    @apply
      animate-scrolling-text;
  }

  .duration {
    @apply
      text-xs
      text-gray-500;
  }
}

.volume_popover {
  @apply
    shadow-none
    rounded-none
    h-[150px]
    px-2
    pt-5
    pb-3;
}

.slider {
  @apply
    flex
    flex-row
    items-center
    gap-[10px];
}
