@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

/* html {
  scroll-snap-type: y mandatory;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pages {
  @apply 
    flex 
    flex-col 
    divide-y-10 
    border-white;

  & > * {
    @apply 
      relative
      w-full 
      min-h-[calc(100vh-10px)]
      border-white;
  }
}

.border {
  @apply 
    fixed 
    bg-transparent
    top-0
    left-0
    right-0
    bottom-0
    border-10
    border-white
    pointer-events-none
    z-50;
}
