.nav_container {
  @apply 
    fixed
    w-full
    h-full
    pointer-events-none
    z-50;
}


.nav {
  @apply 
    pointer-events-auto
    w-full
    flex
    flex-row-reverse
    items-center
    gap-[18px]
    px-[20px]
    md:px-[36px]
    h-20
    md:h-24
    bg-white
    transition-all
    duration-500
    ease-out;

  .title {
    @apply 
      text-4xl
      md:text-5xl
      uppercase
      relative
      select-none
      tracking-[2px]
      transition-all
      duration-1000
      ease-out
      text-black;
  }

  .twice {
    text-shadow: 10px 0 0 black;
  }
}

.slide-out {
  @apply 
    translate-y-[-100%]
    mt-[-6em]
    invisible
    transition-all
    duration-500
    ease-out;
}
