.nav {
  @apply 
    fixed
    w-full
    flex
    flex-row-reverse
    items-center
    gap-[18px]
    px-[36px]
    h-24
    z-50
    bg-white;

  .title {
    @apply 
      text-5xl
      uppercase
      relative
      select-none
      text-black;
  }

  .twice {
    text-shadow: 10px 0 0 black;
    letter-spacing: 2px;
    transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
}
