.page {
  @apply
    relative;
  
  .img {
    @apply 
      sticky
      top-0
      object-cover;
  }

  .play_container {
    @apply
      absolute
      top-0
      bottom-0
      left-0
      right-0
      grid
      place-content-center
      w-full
      h-lvh;

    > * {
      @apply
        col-start-1
        row-start-1;
    }
  }

  .title_container {
    @apply 
      absolute
      top-0
      bottom-0
      left-0
      right-0
      flex
      flex-col
      items-end
      w-full
      h-lvh;
  }

  .tracklist_container {
    @apply
      relative
      flex
      flex-col
      items-end
      w-full;
  }

  .tracklist {
    @apply
      p-5
      md:p-10
      pt-0
      bg-white
      w-full
      lg:w-6/12
      xl:w-5/12
      text-right;
    
    .track {
      @apply
        flex
        p-1
        px-2;

      &:hover {
        @apply
          bg-black/10;
      }

      .artist {
        @apply
        font-bold;
      }
    }
  }
  
  .title {
    @apply
      lg:absolute
      lg:bottom-0
      w-full
      lg:w-6/12
      xl:w-5/12
      p-5
      md:p-10
      pb-[calc(2.5rem+10px)]
      bg-white
      text-center;
    
    h2 {
      @apply
        text-3xl
        font-bold;
      
      &::after {
          @apply
            content-['']
            block
            w-full
            h-1
            my-4
            bg-black;
        }
    }

    .play {
      @apply
        px-2
        pt-5
        text-left
        w-full;
    }
  }
}
